import { Map, Record, fromJS } from "immutable";
import { state } from "../state";

export const {{properCase name}} = Record({});

export const store = state.createStore<{{properCase name}}>("{{name}}", {{properCase name}}({}));