import * as React from "react";
import { Async } from "../../Async";
import { Error } from "../../Error";
import { Loading } from "../../Loading";

export const {{name}} = (props: {}) => (
    <Async
        promise={import("../../{{component}}")}
        onSuccess={({ {{component}} }) => <{{component}} />}
        onError={error => <Error error={error} />}
        onPending={() => <Loading />}
    />
);
